*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "PT Serif", serif;
}


/* shared */

.container{
    padding: 40px 15px 40px 15px;
}


/* header section styles */


header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    background-image: url('./images/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 20px;
    
}

.banner-content{
    width: 90vw;
    height: 90vh;
    padding-top: 140px;
    font-size: 40px;
    background-image: -webkit-linear-gradient(-90deg,rgba(2, 2, 2, 0.911), rgba(104, 99, 99, 0.25));
    
}


/* offer section */

.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer > h1{
    color: red;
    font-size: 44px;
    padding-bottom: 20px;
}

.offer > p{
    color: red;
}

.offer > h3{
    padding-top: 10px;
    font-size: 24px;
    padding-bottom: 30px;
}

.new-year-img{
    width: 50%;
}


/* call to actioon */

.cta-section{
    /* background-image: -webkit-linear-gradient(-90deg,rgba(2, 2, 2, 0.75), rgba(104, 99, 99, 0.25)); */
}

.cta{
    background-image: url('./images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 30px;
    border-radius: 20px;
}

.cta-text-content{
    width: 40%;
    color: white;
   
}

.cta-text-content > h1{
    font-size: 44px;
    padding-bottom: 20px;
}

.cta-text-content > p{
    padding-bottom: 10px;
}

.cta-text-content > button{
    border: 0;
    padding: 10px 5px 10px 5px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.123);
    color: #fff;
    font-weight: 800;
}


.cta-img{
    width: 250px;
    padding-top: 40px;
}


/* location */

.location {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    margin: 0px 30px;
    background-image: linear-gradient(180deg, #ffe9e9, #fff);
}

.location > h6 > span {
    color: red;
}

.location > h6{
    padding-top: 20px;
}



.location > button{
    border: 0;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: red;
    color: #fff;
    font-weight: 800;
}



.offer-incoming{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 40px;
    margin: 0 50px;
    align-items: center;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.offer-incoming > img{
    width: 300px;
    border: 5px solid red;
    border-radius: 50%;
    padding: 10px;
}

.year > h4{
    color: red;
    font-size: 24px;
    padding-bottom: 20px;
}

.year > img {
    padding-top: 20px;
}

.description > h6{
    color: red;
    font-size: 16px;
    padding-bottom: 20px;
}

.description > h3{
    font-size: 32px ;
    font-weight: 700;
    padding-bottom: 20px;
}

.holidays{
    display: flex;
    margin: 0 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.holiday_content{
    display: flex;
    margin: 0 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holiday_content > h1 > span{
    color: red;
}

.holiday_content > h1 {
    font-size: 32px;
    padding-bottom: 15px;
}

.holiday_content > h6{
    font-size: 16px;
    padding-bottom: 15px;
}


.holiday_content > p{
    text-align: center;
}



.red_img{
    width: 80vw;
    padding-top: 600px;
    position: absolute;
}

.img_gift{
    position: relative;
    top: 360px;
    right: 290px;
    width: 500px;
}

.img_sur{
    position: relative;
    width: 400px;
    left: 346px;
    bottom: 190px;
    z-index: -1;
}

.img_fifty{
    position: relative;
    width: 150px;
    bottom: 500px;
    left: 160px;
}

/* portfolio section */
.portfolio_section{
    margin: 0 80px;
}


.portfolio_section > h5{
    font-size: 14px;
    color: red;
    padding-bottom: 10px;
}

.portfolio_section > h1{
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 8px;
}

.images > img{
    width: 350px;
}



.images {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}





/* subscribe_section */
.subscribe_section{
    background-color: #fff2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
    border-radius: 10px;
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.subscribe_section > img{
    width: 130px;
}

.subscribe_section  > h1{
    font-size: 34px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}

.subscribe_section  > p{
    padding-bottom: 15px;
}

.email_to_subscribe {
    padding-top: 30px;
}

.email_to_subscribe > input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.email_to_subscribe > input[type="email"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

.email_to_subscribe > input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: #FF0000;
    color: #fff;
}


/* footer */

.footer{
    background-color: #070211;
    color: #fff;
    margin-top: 50px;
}

.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social_media > img {
    width: 50px;
    margin-right: 20px;

}

hr{
    margin: 0 100px;
}

.info, .copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 100px;
}

.contact > p{
    padding-top: 10px;
}

